@import url('https://fonts.googleapis.com/css2? family= Bree+Serif & family= Delicious+Handrawn & family= Josefin+Sans:ital@1 & family= Poppins:ital@0; 1 & famille= Smokum & display=swap');

*{
    /* font-family: 'poppins', cursive; */
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

form{
    margin: 15% auto;
    padding: 35px 10px;
    max-width: 400px;
    background-color: #f6f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    text-align: center;
}

form div{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.Erreur {
    color: red;
    text-align: center;
    font-size: 15px;
}

input{
    padding-left: 6px;
    width: 328px;
    height: 27px;
    
}

input[type="submit"]{
    width: 328px;
    background-color: rgb(74, 201, 123);
    /* width: 325px; */
    font-weight: bold;
    border: none;
    font-size: 15px;
}



input[type="submit"]:hover{
    color: aliceblue;
    cursor: pointer;
    font-size: 18px;
}

label{
    font-weight: 100px;
    font-weight: bold;
}


