@import url('https://fonts.googleapis.com/css2? family= Bree+Serif & family= Delicious+Handrawn & family= Josefin+Sans:ital@1 & family= Poppins:ital@0; 1 & famille= Smokum & display=swap');

*{
    
    font-family: 'poppins', sans-serif;
    
}


/* body {
    background-color: azure;
    
} */

a.bb{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px;
}

a.bb:hover{
    background-color: #008ea4;
    color: #fff;
}

div.liste {
    margin-right: 5rem;
    display: flex;
    gap: 3rem;
}

.logo img{
    max-width: 90px;
}

nav{
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

img.grand{
    width: 1340px;
    height: 580px;
    
}

div p {
    position: absolute;
    background-color: rgba(203, 206, 206, 0.7);
    padding: 5px;
    text-align: center;
    margin: 10% 20%;
    font-size: 60px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
