@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Delicious+Handrawn&family=Josefin+Sans:ital@1&family=Poppins:ital@0;1&family=Smokum&display=swap');

*{   
    font-family: 'Bree Serif', serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(108, 173, 43);
    margin: 15% auto;
    text-align: center;
}

h1{
    margin-bottom: 30px;
}

input{
    width: 150px;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    margin: 0 10px;
    border: none;
}

input:hover{
    cursor: pointer;
    border-radius: 20px;
    
}


