* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    color: #444;
}

h2{
    color: #444;
}

h3 {
    color: #999;
}

.bouton {
    background: linear-gradient(0deg, #01a5bb, #003f47);
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.bouton:hover {
    color: black;
    background: #04c2db;
    padding: 3px 8px;
    border: 2px solid rgb(42, 124, 145);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
}

.lemenu {
    position: fixed;
    /* background-color:  #008ea1; */
    background: linear-gradient(90deg, #008ea1, #027e8f);
    /* background-color:rgb(145, 145, 42) ; */
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.lemenu .liste {
    margin-top: 20px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lemenu li {
    font-size: 24px;
    padding: 10px 40px 10px 15px;
    margin: 5px 5px 5px 30px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.lemenu li img{
    max-width: 33px;
}

.lemenu li:hover {
    background: #f1f1f1;
    padding: 10px 40px 10px 15px;
    margin: 5px 5px 5px 30px;
    color: black;
    cursor: pointer;
    border-top-left-radius: 30px;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .navbar .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .navbar .nav .recherche {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .navbar .nav .recherche input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .navbar .nav .recherche button {
    width: 40px;
    height: 40px;
    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .navbar .nav .recherche button:hover{
    cursor: pointer;
    background-color: #999;
}

.container .navbar .nav .recherche button img {
    width: 30px;
    height: 30px;
}

/* .container .navbar .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.container .navbar .nav .decon .bouton{
    background: linear-gradient(15deg, rgb(132, 0, 255), rgb(255, 94, 0));
    /* border: white; */
    color: white;
}

.container .navbar .nav .decon .bouton:hover{
    color: #000;
}

/* .container .navbar .nav .user img {
    width: 40px;
    height: 40px;
} */

/* .container .navbar .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container .navbar .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card img{
    max-width: 45px;
}

.container .content .cards .card {
    width: 210px;
    height: 150px;
    cursor: pointer;
    background: white;
    margin: 20px 7px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card:hover{
    box-shadow: none;
    background-color: #0ad2ec;
    
}

.container .content .cards .card:hover h1{
    color: #fff;
}

.container .content .cards .card:hover  h3{
    color: #fff;
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}



/* .container .content .cards .card a.bloc div.card:hover{
    background: linear-gradient(90deg, #008ea1, white);
    background-color: #f05462;
} */
.bloc .card:hover{
    background: red;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}